<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aldy.difacademy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.OpNotifGradActivity"></activity>
        <activity android:name=".Activity.OpBlendedCourseVideoActivity" />
        <activity android:name=".Activity.OpNotifActivity" />
        <activity android:name=".Activity.OpNotifPaymentActivity" />
        <activity android:name=".Activity.OpAddBlendedCourseVideoActivity" />
        <activity android:name=".Activity.OpAddQuizActivity" />
        <activity android:name=".Activity.OpQuizActivity" />
        <activity android:name=".Activity.OpAddBlendedCourseActivity" />
        <activity android:name=".Activity.OpBlendedCourseActivity" />
        <activity android:name=".Activity.OpTagsActivity" />
        <activity android:name=".Activity.OpAddNewsActivity" />
        <activity android:name=".Activity.OpNewsActivity" />
        <activity android:name=".Activity.OpAddFreeCourseActivity" />
        <activity android:name=".Activity.OpFreeCourseActivity" />
        <activity android:name=".Activity.OpMainActivity" />
        <activity android:name=".Activity.QuizActivity" />
        <activity android:name=".Activity.PaymentActivity" />
        <activity android:name=".Activity.ListVideoCourseActivity" />
        <activity android:name=".Activity.DetailCourseActivity" />
        <activity android:name=".Activity.DetailNewsActivity" />
        <activity android:name=".Activity.ListNewsActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.WatchVideoActivity" />
        <activity android:name=".Activity.BlendedCourseActivity" />
        <activity android:name=".Activity.FreeCourseActivity" />
        <activity android:name=".Activity.OngoingCourseActivity" />
        <activity android:name=".Activity.ForgetPasswordActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>