<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamanpelajar.aldy.difacademy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityAdmin.OpAnggotaMateriOnlineActivity"></activity>
        <activity android:name=".ActivityAdmin.OpAnggotaKelasBlendedActivity" />
        <activity android:name=".ActivityAdmin.OpBlendedSoalActivity" />
        <activity android:name=".ActivityAdmin.OpBlendedVideoActivity" />
        <activity android:name=".ActivityAdmin.OpBlendedMateriActivity" />
        <activity android:name=".ActivityAdmin.OpBlendedKelasActivity" />
        <activity android:name=".ActivityAdmin.OpAddBlendedVideoActivity" />
        <activity android:name=".ActivityAdmin.OpAddBlendedSoalActivity" />
        <activity android:name=".ActivityAdmin.OpAddBlendedMateriActivity" />
        <activity android:name=".ActivityAdmin.OpAddBlendedKelasActivity" />
        <activity android:name=".ActivityAdmin.OpOnlineSoalActivity" />
        <activity android:name=".ActivityAdmin.OpAddOnlineSoalActivity" />
        <activity android:name=".ActivityAdmin.OpOnlineVideoActivity" />
        <activity android:name=".ActivityAdmin.OpOnlineMateriActivity" />
        <activity android:name=".ActivityAdmin.OpAddOnlineVideoActivity" />
        <activity android:name=".ActivityAdmin.OpAddOnlineKelasActivity" />
        <activity android:name=".ActivityAdmin.OpAddOnlineMateriActivity" />
        <activity android:name=".ActivityAdmin.OpOnlineKelasActivity" />
        <activity android:name=".ActivityAdmin.OpBannerActivity" />
        <activity
            android:name=".ActivityUser.UsMateriOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsMateriBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsKelasOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsKelasBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsWatchVideoBlendedActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:name=".ActivityUser.UsWatchVideoOnlineActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:name=".ActivityCommon.ChangePasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpNotifGradActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpNotifActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpNotifPaymentKelasBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpTagsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpAddNewsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpNewsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityAdmin.OpMainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsQuizBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsQuizOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsPaymentBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsPaymentOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsListVideoOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsListVideoBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsDetailKelasBlendedActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsDetailKelasOnlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsDetailNewsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsListNewsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsEditProfileActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsSettingsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityUser.UsOngoingActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityCommon.ForgetPasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityCommon.RegisterActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ActivityCommon.LoginActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityUser.UsMainActivity"
            android:screenOrientation="sensorPortrait" />

        <service
            android:name=".Notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>